module-1/web/node_modules
module-1/web/public/hot
module-1/web/public/storage
module-1/web/storage/*.key
module-1/web/vendor
module-1/web/.idea
module-1/web/.vagrant
module-1/web/Homestead.json
module-1/web/Homestead.yaml
module-1/web/npm-debug.log
module-1/web/yarn-error.log
module-1/web/.env

module-2/web/node_modules
module-2/web/public/hot
module-2/web/public/storage
module-2/web/storage/*.key
module-2/web/vendor
module-2/web/.idea
module-2/web/.vagrant
module-2/web/Homestead.json
module-2/web/Homestead.yaml
module-2/web/npm-debug.log
module-2/web/yarn-error.log
module-2/web/.env
